<h2> #<%= notification.card.id %> <%= notification.card.collection.name  %> </h2>
<p>
  <%= notification.creator.familiar_name %>
  <%= image_tag user_avatar_url(notification.creator), alt: notification.creator.name, size: 48 %>
</p>

