<h2>Your Notifications since <%= @bundle.starts_at.strftime("%-l%P on %A, %B %-d") %></h2>

<p>You have <%= @notifications.count %> notifications:</p>

<%= render partial: "notification/bundle_mailer/notification", collection: @notifications, as: :notification %>
